:root {
  --primary-color: #007af3;
}

body {
  background: #f2f2f2;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
  background: whitesmoke;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.5em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  right: -400px;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 2.5em 2em;
}

nav.menu-btn {
  right: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

nav {
  position: fixed;
  z-index: 999;
  width: 50%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: left;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: unset;
    height: auto;
    width: 100%;
    background: none;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.get-started-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: 0.02em;
  }
  .navbar nav li.get-started-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
}

.adventure-genre {
  background: #fce5e5;
}

.adventure-genre .container h2 {
  text-align: center;
  text-transform: uppercase;
}

.adventure-genre .container .book-list ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

.adventure-genre .container .book-list li {
  background: whitesmoke;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.adventure-genre .container .book-list li img {
  display: inline;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  width: 15em;
  height: 20em;
}

.adventure-genre .container a {
  color: #444444;
  text-align: center;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  cursor: pointer;
}

.adventure-genre .container a:hover {
  font-weight: bold;
}

footer {
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
}

footer h4 {
  font-size: 1.2em;
  color: black;
}

footer p {
  display: block;
}

footer a {
  display: inline-block;
}

footer a img {
  margin: 0.5em 1em;
  height: 30px;
}

footer a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=style2.css.map */